.carousel{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

@media(max-width:600px){
    .carousel{
        margin: 0;
        margin-top: 50px;
        width: 80%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}