.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.textContainer{
    margin-top: 35px;
    border-top: 1px solid rgb(219, 216, 216);

}
.containerCarousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 7px;
}

.buttonsContainer{
    display: flex;
    margin-top: 35px;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

.btn{
    border: none; 
    width: 75px;
    height: 40px;
    cursor: pointer;
    background-color: #181818;
    color: white;
    transition: 0.2s;
}

.btn:hover{
    background-color: rgb(231, 158, 21);
}

.contanerSectionImg{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.CardCubeContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 30px;
    gap: 10px;
    transition: 1s;
    flex-wrap: wrap;
}

@media (max-width:900px) {
    .CardCubeContainer{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 0;
    }
    .container{
        display: flex;
    }
}

@media(max-width:600px){
        .CardCubeContainer {
            display: flex;
            width: 100%;
        }
        .title{
            font-size: 18px;
        }
        .buttonsContainer{
            gap: 20px;
        }
        .btn{
            width: 55px;
        }
        .containerCarousel{
            width: 100%;
        }
}

