.container{
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

.CardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}


.title{
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}

.CardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    /* margin-top: 30px; */
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width:1050px) {
    .CardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}