.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}