

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

html::-webkit-scrollbar{
    width: 7px;
    background-color: #181818;
}

html::-webkit-scrollbar-thumb{
    background-color:rgb(41, 137, 216);
    border-radius: 5px;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


